CSS
html
{
  background-color: HSL(349, 45%, 84%)
}
body
{
color: HSL(349, 45%, 84%)
}
h1{
  color: HSL(129, 77%, 73%)
  
}
button{
background-color: HSL(0, 57%, 63%)
}

h2{
color: HSL(71, 100%, 83%)
}
p
{
  color: light pink
  font-family= 
}
h3 {
color:blue
  font:
}
